
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<div class="container">
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
  >
  <button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    + Add Server
  </button>
</div>

<ng-template #noServer>
  <p>No server was created</p>
</ng-template>

<div class="container">
  <p>{{ serverName }}</p>
  <p [innerText]="allowNewServer"></p>
  <p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>

  <app-server></app-server>
  <app-server></app-server>
</div>
